.navigation {
  display: flex;
  justify-content: flex-start;

  &__authorization {
    margin-left: auto;
  }

  &__link:not(:last-child) {
    margin-right: 20px;
  }
}
.active {
  color: rgb(206, 2, 2);
}
