.title {
  text-align: center;
}

.form-user {
  width: 320px;
  margin: 0 auto;

  &__input {
    margin-bottom: 10px;
    display: block;
  }

  &__field {
    width: 320px;
  }

  &__button {
  }
}
