body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.caption {
  font-size: 35px;
}

.title {
  font-size: 30px;
}

.link {
  text-decoration: none;
  color: rgb(41, 40, 40);
}

.link:not(:last-child) {
  margin-right: 20px;
}

.active {
  color: rgb(206, 2, 2);
}
