.contacts-wrapper {
  position: relative;

  &__loader,
  &__error {
    margin: 0;
    position: absolute;
    top: 5px;
  }

  &__loader {
    color: #0056ff;
  }
  &__error {
    color: red;
  }

  &__contacts-list {
    position: absolute;
    top: 30px;

    list-style: none;
    padding: 0;
    margin: 0;
  }
}
